<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StepUp - Premium Footwear</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <form action="/users" method="POST">
        <h1>StepUp - Premium Footwear</h1>
        <h2>Add user</h2>
        <input type="text" id="Email" name="Email" placeholder="Enter email" required>
        <input type="text" id="Password" name="Password" placeholder="Enter password" required>
        <input type="text" id="Classification" name="Classification" placeholder="Classification" required>
        <button type="submit">Submit</button>
    </form>


    <% for (let user of users) { %>
        <div class="user">
            <h3>
                <%= user.Email %>
            </h3>
            <p>
                <%= user.Password %>
            </p>
            <p>
                <%= user.Classification %>
            </p>
            <form action="/users/<%= user.id %>?_method=DELETE" method="post"><button>Delete</button></form>
            <form action="/<%= user.id %>"><button>update</button></form>
        </div>
        <% } %>
</body>

</html>